.error{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);

    .main-error{
        position: relative;
        background-color: white;
        padding: 1.5rem 2.5rem;
        border-radius: 8px;
        margin-inline: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        h3{
            color: red;
        }

        h4{
            text-align: center;
        }

        button{
            background-color: rgb(195, 195, 195);
            padding: 5px 20px;
            border-radius: 5px;
        }
    }
}