.modal-wrapper{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner{
        position: relative;
        background-color: white;
        padding: 10px 20px;
        max-width: 37.5rem;
        width: 90%;
        padding: 35px 40px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        margin-inline: 1rem;

        .close-btn{
            position: absolute;
            top: 0.2rem;
            right: 0.2rem;
            color: black;
        }

        .sure-modal{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3{
                font-size: clamp(1em, 0.889em + 0.356vw, 1.2em);
                text-align: center;
            }

            .sure-btns{
                display: flex;
                justify-content: center;
                gap: 2.5rem;

                .yes{
                    color: black;
                    background-color: rgb(183, 183, 183);
                    padding: 5px 20px;
                    border-radius: 5px;
                    font-size: clamp(0.9em, 0.789rem + 0.356vw, 1.1em);
                }

                .no{
                    background-color: hsl(230, 58%, 42%);
                    color: white;
                    border-radius: 5px;
                    padding: 5px 20px;
                    font-size: clamp(0.9em, 0.789rem + 0.356vw, 1.1em);
                }
            }
        }

        .reseting{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .email-for-reseting{
                padding: 5px 10px;
                width: 100%;
                border-radius: 5px;
                border: 1px solid hsl(0, 0%, 75%, 0.5);
                outline: none;
            }

            .reset-btn{
                background-color: rgb(190, 190, 190);
                border-radius: 5px;
                padding: 8px 20px;
            }
        }
    }
}