.modal-write-email{
    background-color: hsl(0, 0%, 0%, 0.2);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .write-email{
        background-color: white;
        padding: 1.25rem 2.5rem;
        position: relative;
        margin-inline: 2rem;
        border-radius: 8px;
        text-align: center;
        margin-inline: 1rem;

        .close-btn{
            position: absolute;
            top: 5px;
            right: 5px;
            color: black;

            &:hover{
                opacity: 0.85;
            }
        }

        .password-reset{
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input{
                padding: 4px 7px;
                border-radius: 5px;
                border: 1px solid hsl(0, 0%, 50%, 0.5);

                &:focus{
                    outline: none;
                }
            }

            button{
                background-color: #1cab47;
                color: white;
                border-radius: 5px;
                padding: 5px 15px;
                align-self: center;
            }
        }

        .checkSpam{
            font-size: 0.9rem;
        }

        .writeEmail{
            color: red;
            font-size: 0.85rem;
        }
    }
}