.container.centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

   .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        background-color: rgb(255, 255, 255);
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

        .text-welcome{
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            max-width: 31.25rem;

            h1{
                text-align: center;
            }

            p{
                text-align: center;
            }
        }

        .btns-login{
            align-self: center;
            display: flex;
            gap: 2rem;

            .login-btn{
                color: black;
                background-color: rgb(194, 194, 194);
                padding: 5px 15px;
                border-radius: 5px;
            }

            .signin-btn{
                color: black;
                background-color: rgb(194, 194, 194);
                padding: 5px 15px;
                border-radius: 5px;
            }

            .active{
                background-color: #1cab47;
                color: white;
            }
        }

        .form{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form-part{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                .email{
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: 1px solid hsl(0, 0%, 75%, 0.5);
                    outline: none;
                }

                .pass-form{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.2rem;

                    .password{
                        padding: 5px 10px;
                        width: 100%;
                        border-radius: 5px;
                        border: 1px solid hsl(0, 0%, 75%, 0.5);
                        outline: none;
                    }

                    .but-pass{
                        padding: 9.5px 8px;
                        border-radius: 5px;
                        border: 1px solid hsl(0, 0%, 75%, 0.5);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }

                
            }

            .confirm-login{
                color: black;
                background-color: rgb(190, 190, 190);
                border-radius: 5px;
                padding: 8px 20px;
                align-self: center;
            }

            .error-login{
                color: red;
                font-size: 0.9rem;
                text-align: center;
            }

            .forgot-password{
                text-align: center;
                align-self: center;
                font-size: 0.85rem;
                font-style: italic;
                color: rgb(46, 46, 244);
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
