.book-part{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .book-image{
        position: relative;
        aspect-ratio: 2 / 3;
        overflow: hidden;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 5px 5px 10px hsl(0, 0%, 0%, 30%);
        user-select: none;

        &:hover button{
            opacity: 100%;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        i.icon{
            position: absolute;
            top: clamp(0.313rem, 0.139rem + 0.556vw, 0.625rem);
            right: clamp(0.313rem, 0.139rem + 0.556vw, 0.625rem);
            background-color: #1cab47;
            border-radius: 8px;
            font-size: clamp(1.1em, 0.878em + 0.711vw, 1.5em);
            height: clamp(1.875rem, 1.528rem + 1.111vw, 2.5rem);
            width: clamp(1.875rem, 1.528rem + 1.111vw, 2.5rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .book-title {
            user-select: none;
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            color: white;
            font-weight: bold;
            font-size: clamp(0.8rem, 0.578rem + 0.711vw, 1.2rem);
            text-align: center;
            width: 80%;
            max-height: 4.5em;
            line-height: 1.5em;
            overflow: hidden;
            word-break: break-word;
        }


        button{
            opacity: 0%;
            color: white;
            position: absolute;
            left: 0;
            width: 100%;
            height: clamp(2rem, 1.444rem + 1.778vw, 3rem);
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: clamp(0.7em, 0.422em + 0.889vw, 1.2em);
            font-weight: bold;
            gap: clamp(0.6rem, 0.322rem + 0.889vw, 1.1rem);
            background-color: #e63d3d;
            transition: opacity 0.3s ease-in-out;

            &:hover{
                opacity: 100%;
            }
        }

        button.isRead{
            background-color: #1cab47;
        }
    }

    .book-information{
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;

        h3{
            font-size: clamp(0.8rem, 0.578rem + 0.711vw, 1.2rem);
            max-height: 3em;
            line-height: 1.5em;
            overflow: hidden;
            word-break: break-word;
        }

        p{
            font-size: clamp(0.7rem, 0.533rem + 0.533vw, 1rem);
            max-height: 3em;
            line-height: 1.5em;
            overflow: hidden;
            word-break: break-word;
        }
    }
}