.container{
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 2rem;

  .books-list{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

  @media (max-width: 950px){
    .books-list{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 650px){
    .books-list{
      grid-template-columns: 1fr 1fr;
    }
  }
}