@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*{
  font-family: "Manrope", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  height: 100%;
  min-height: 100vh;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea{
  resize: none;
}

button:focus-visible,
input:focus-visible,
a:focus-visible {
  outline: 1px solid rgb(195, 195, 195);
  outline-offset: 1px;
  border-radius: 4px;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  background: none;
  &:hover{
    opacity: 90%;
  }
}